body{
    background-color: #3cef0b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1{
    color: #333;
    text-align: center;
}
h2{
    color: #555;
    text-align: center;
}
h3{
    color: #fbfbfb;
    text-align: center;
}